*{
	margin: 0;
	padding: 0;	
}
.navbar{
border: none;
background-color: black;
color: #61122F;
}
body{
	background-color: #61122F;
	color: white;
}
.glyphicon{
	font-size: 30px;
	color:#61122F;
	text-align: center;
	padding: 5px; 
}
.center{
	width: 90%;
	background-color: gray;
}
.container
{
	background-color: gray;
}
.text-center{
	font-size: 40px;
}
.navbar-brand{
font-size: 30px;	
}
.box{
	box-sizing: border-box;
	background-color: gray;
}